#thirdDiv {
  width: 500px;
  height: 600px;
  background-color: #ccc;
  margin: 0 auto;
  padding: 50px;
  border: 1px solid #000;
}
.divClass {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-top: 10px;
}
#spanId {
  color: #ff0000;
  font-size: 18px;
  margin: 50px;
}
h1 {
  color: lightsteelblue;
}
img {
  width: 400px;
}